.torque-header {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.torque-title {
    font-family: "Mj_Casablanca Light";
    font-size: 30px;
}

.torque-selector-container {
    display: flex;
    flex-direction: column;
    width: 70%;
}
.select-container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    background-color: brown;
    width: 50%;
}
.date-inputs {
    display: flex;
    flex-direction: row;
    width: 35%;
    height: 50px;
    justify-content: space-around;
    margin-top: 10px;
}
.form-container {
    display: flex;
    justify-content: space-around;
    direction: rtl;
}