*{
    font-family:"B Homa";
}
.form-container {

}
.torque-header {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    background-color: #eeeeff;
    border:2px #000000 solid;
    border-bottom:none;
}

.torque-title {
    font-family: "Mj_Casablanca Light";
    font-size: 30px;
}

.torque-selector-container {
    display: flex;
    flex-direction: column;
    width: 70%;
}
.select-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: 50%;
    margin-right: 50px;
}
.date-inputs {
    display: flex;
    flex-direction: column;
    height: 70px;
    justify-content: start;
    margin-top: 50px;
    padding-top: 20px;
    gap: 10px;
}
.randd-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.radio-container {
    height: 55%;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
    padding-right: 20px;
    align-items: flex-start;
    font-size: 17px;
    margin-top: -10px;
}
.radio-items>label {
    padding-right: 10px;
}
.radio-header {
    padding-right: 20px;
    padding-top: 40px;
}
.form-contex {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    direction: rtl;
    width: 100%;
    height: 350px;
    background-color: #eeeeff;
    border:2px #000000 solid;
    border-top:none;
}
.column-button {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 250px;
    margin-bottom: 30px;
}
.form-submit {
    margin: 50px 35%;
    padding: 4px 0;
    font-size: 18px;
    background-color: #ccddff;
    border-radius: 12px;
}
.range-picker {
    border-radius: 15px;
    border: 1px black solid;
    padding: 18px 25px;
    background-color: white;
    height: 22px;
    box-shadow: 0 0 2px black;
    font-size: 15px;
}
.range-picker:focus {
    outline: none;
    border: 1px solid #0c8af8;
    box-shadow: 0 0 2px 1px #0074d9;
}
.gozaresh-container {
    background-color: lightcoral;
    display: flex;
    border-bottom: 2px black solid;
}
.gozaresh-child-container {
    background-color: chartreuse;
    width: 50%;
    height: 200px;
    display: flex;
    flex-direction: column;
}
.gozaresh-child-container>div {
    margin: 17px 50px;
}

